.forgot-password-card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    background: white;
    width: 760px;
    max-width: 760px;
    padding: 24px;
    margin-left: 16px;
    margin-right: 16px;
    gap: 16px;
}
.logo-wrapper {
    display: flex;
    justify-content: center;
}
.forgot-password-form {
    margin-top: 16px;
}
.forgot-password-text {
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
}
.forgot-password-group {
    display: flex;
    justify-content: end;
}
.email-label {
    font-size: 16px;
}
.email-label::before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
}
.forgot-password-btn {
    border: 1px solid #fc802d;
    background: white;
    border-radius: 8px;
    padding: 6px 24px;
    font-weight: bold;
    opacity: 0.5;
}
.forgot-password-btn-active:hover {
    opacity: 1;
}
.forgot-password-btn-active:hover {
    background: #fc802d;
    color: white;
}