:root {
    --bg-gradient-orange: linear-gradient(
        90deg,
        rgba(252, 128, 45, 1) 50%,
        rgba(255, 157, 92, 1) 100%
    );
    --bg-gradient-orange-1: linear-gradient(
        360deg,
        rgba(252, 128, 45, 1) 0%,
        rgba(255, 157, 92, 1) 100%
    );
    --bg-gradient-blue: linear-gradient(
        90deg,
        rgba(42, 19, 125, 1) 50%,
        rgba(109, 29, 255, 1) 100%
    );
}

.content-container {
    display: flex;
    gap: 24px;
}
.form-container {
    flex-grow: 1;
}
.card {
    border: 1px solid #fc802d !important;
    border-radius: 12px;
    overflow: hidden;
}
.header-text {
    background: linear-gradient(rgba(252, 128, 45, 1), rgba(255, 157, 92, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-header {
    color: black;
}
.btn-getlink {
    background: var(--bg-gradient-orange);
    color: white;
    min-width: 150px;
}
.format-file-img {
    width: auto;
    height: 40px;
}
.feedback-group {
    margin-top: 24px;
    padding: 24px;
}
.feedback-text {
    background: linear-gradient(rgba(42, 19, 125, 1), rgba(109, 29, 255, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.send-btn {
    background: var(--bg-gradient-orange);
    font-size: 14px;
    color: white;
    padding: 6px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    opacity: 0.8;
    float: right;
}
.send-btn:hover {
    opacity: 1;
}
.banner-container {
    display: flex;
}
.banner-home {
    height: calc(100vh - 150px);
    aspect-ratio: 1/2;
    margin: auto;
}

.submit-warning {
    padding: 0.75rem 1.25rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.border-warning {
    border: 1px solid #f6c23e;
}
.border-error {
    border: 1px solid red;
}
.warning-text {
    color: #f6c23e;
    margin: 0 !important;
}
.error-text {
    color: red;
    margin: 0 !important;
}
.btn-close {
    border: none;
    background: transparent;
    opacity: 0.5;
}
.btn-close:hover {
    opacity: 1;
}

.result-container {
    padding: 0 1.25rem;
    border: 1px solid #1cc88a;
    border-radius: 4px;
}
.border-success {
    border: 1px solid #1cc88a;
}
.border-b-dashed {
    border-bottom: 1px dashed #ebedf2;
}
.download-img {
    width: 60px;
    height: 60px;
}
.download-box {
    padding: 0.75rem 0;
}
.result-link {
    font-weight: bold;
    color: #1e60c6;
    border: none;
    background: transparent;
}
.result-download {
    border: none;
    background: #1cc88a;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    width: fit-content;
}
.report-link {
    font-size: 12px;
    color: #1e60c6;
    padding: 0.75rem 0;
}
/* Flex */
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.gap-1 {
    gap: 4px;
}
.gap-2 {
    gap: 8px;
}
.gap-3 {
    gap: 12px;
}
.mt-8 {
    margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
    .banner-container {
        display: none;
    }
    .content-container {
        flex-direction: column;
    }
    .btn-getlink {
        margin-bottom: 8px;
        font-size: 1rem;
        width: 100%;
    }
    .btn-getlink img {
        width: 24px;
        height: 24px;
    }
    .format-file-img {
        height: 30px;
    }
    .feedback-group {
        padding: 0;
    }
}
